body {
  background-color: rgb(34, 34, 34);
  color: white;
  font-family: Poppins, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#title {
  flex-direction: column;
  line-height: 50px;
}
li {
  display: inline-block;
  margin: 20px;
}
a {
  color: white;
}
a:hover {
  color: rgb(132, 14, 201);
  transition: 0.3s all;
}
#criar-conta-btn {
  border: 2px solid rgb(132, 14, 201);
  padding: 10px;
  border-radius: 15px;
}
#criar-conta-btn:hover {
  background-color: rgb(132, 14, 201);
  color: white;
}
h1 {
  font-weight: 400;
  letter-spacing: 5px;
  line-height: 40px;
  margin-right: 50px;
}
main {
  display: flex;
  flex-direction: row;
}
h2 {
  font-size: 56px;
  line-height: 60px;
  font-family: poppins;
  font-weight: 600;
  margin-bottom: 35px;
}
span {
  color: rgb(132, 14, 201);
}
p {
  line-height: 20px;
  max-width: 500px;
  font-weight: 300;
}
img {
  width: 580px;
  margin-left: 50px;
  margin-top: 50px;
}
form {
  display: flex;
  flex-direction: column;
  width: 70%;
}
form [type="submit"] {
  height: 50px;
  width: 50%;
  background-color: rgb(132, 14, 201);
  color: white;
  font-weight: 700;
}
form [type="submit"]:hover {
  cursor: pointer;
  color: rgb(132, 14, 201);
  background-color: white;
  transition: 0.3s all;
}

input {
  margin-top: 20px;
  height: 20px;
  padding: 15px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
}
footer {
  padding-top: 50px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 12px;
}
